
@model Parfume

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="" />
        <div class="caption">
            <h5 class="pull-right">@Model.Price.ToString("c")</h5>
            <h5>
                <a asp-controller="Parfume"
                   asp-action="Details"
                   asp-route-id="@Model.ParfumeId">@Model.Name</a>
            </h5>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="addToCart">
            <p class="button btn-sm">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-parfumeId="@Model.ParfumeId">Add to Cart</a>
            </p>
        </div>
    </div>
</div>

